body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%; /* 16px=100%=1rem */
  color: #66BFBF;
  line-height: 2;
}
p {
  font-weight: normal;
}

h2 {
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
h5 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}
hr {
  border-top: 6px dotted lightgray;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.copyrights {
  font-size: 70%;
  color: white;
}
.profile {
  width: 40%;
  margin: 20px auto;
}

.boy {
  width: 15%;
  margin: 50px;
}

.baking-paragraph{
  width: 40%;
  margin: 30px auto 60px;
}
.CODE {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.bake-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px;
}
.a-programmer {
  color: #66BFBF;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 0;
}
.dots {
  width: 3%;
  height: 3%;
}
.footer-container {
  background-color: #66BFBF;
  padding: 10px;
  margin-top: 50px;
}
.Contact-button {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   font-weight: 600;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 0 1px 14px #000000;
   border: outset #0059A0 8px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.Contact-button:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
